input {
    margin:10px;
    padding:5px 10px;
    font-size:20px;
}

.form{
    font-size:20px;

&button {
    padding:3px 10px;
    text-transform: uppercase;
    margin:20px;
    font-size: 20px;
}
}